﻿@model TicketReselling.Presentation.Models.AccountViewModels.LoginViewModel
@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Mvc.Localization

<h2>@Localizer["Log in page"]</h2><br />

<form class="form-horizontal" role="form" asp-action="Login" asp-controller="Account" asp-anti-forgery="true" method="post">
    <div class="validation" asp-validation-summary="ModelOnly" />
    <div>
        <div class="form-group">
            <label class="col-md-2 control-label" asp-for="Login">@Localizer["Login"]</label>
            <div class="col-md-10">
                <input type="text" asp-for="Login" />
            </div>
            <span asp-validation-for="Login" />
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" asp-for="Password">@Localizer["Password"]</label>
            <div class="col-md-10">
                <input asp-for="Password" />
            </div>
            <span asp-validation-for="Password" />
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="@Localizer["Sign In"]" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="~/Account/Register" class="btn btn-default">@Localizer["Register?"]</a>
            </div>
        </div>
    </div>
</form>
