﻿@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Mvc.Localization
@model TicketReselling.Presentation.Models.AccountViewModels.RegisterViewModel

<h2>@Localizer["Registration"]</h2><br />

<form class="form-horizontal" role = "form" asp-action="Register" asp-controller="Account" asp-anti-forgery="true" method="post">
    <div class="validation" asp-validation-summary="ModelOnly" />
    <div>
        <div class="form-group">
            <label class="col-md-2 control-label" asp-for="Login">@Localizer["Login"]</label>
            <div class="col-md-10">
                <input type="text" asp-for="Login" />
            </div>
            <span asp-validation-for="Login" />
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" asp-for="Password">@Localizer["Password"]</label>
            <div class="col-md-10">
                <input asp-for="Password" />
            </div>
            <span asp-validation-for="Password" />
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" asp-for="ConfirmPassword">@Localizer["Confirm Password"]</label>
            <div class="col-md-10">
                <input asp-for="ConfirmPassword" />
            </div>
            <span asp-validation-for="ConfirmPassword" />
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="@Localizer["Register"]" />
            </div>
        </div>
    </div>
</form>
