﻿@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using TicketReselling.Business.Interfaces
@using TicketReselling.Presentation.Models

@inject IViewLocalizer Localizer
@inject IVenueService venueService
@model EventModel
@{
    Layout = "_Layout";
    ViewData["Title"] = Localizer["Events"];
}
@{
    var venues = venueService.GetAllVenues();
}

<html>
<body>
    <h3>@Localizer["New event"]</h3><br />

    <form class="form-horizontal" role="form" asp-anti-forgery="true" method="post" asp-action="Create" asp-controller="Event">
        <div class="validation" asp-validation-summary="ModelOnly" />

        <div class="form-group">
            <div><label class="col-md-2 control-label" asp-for="Venue">@Localizer["Venue:"]</label></div>
            <div class="col-md-10">
                <select id="venue" name="venueId">
                    @foreach (var i in venues)
                    {
                        <option value="@i.Id">@i.City.Name, @i.Name</option>
                    }
                </select>
            </div>
            <span asp-validation-for="VenueId" />
            <input type="hidden" asp-for="VenueId" value="$("#venue option:selected").val()" />
        </div>

        <div class="form-group">
            <div><label class="col-md-2 control-label" asp-for="Name">@Localizer["Name"]</label></div>
            <div class="col-md-10">
                <input type="text" asp-for="Name" />
            </div>
            <span asp-validation-for="Name" />
        </div>

        <div class="form-group">
            <div><label class="col-md-2 control-label" asp-for="Name">@Localizer["Description"]</label></div>
            <div class="col-md-10">
                <input type="text" asp-for="Description" />
            </div>
            <span asp-validation-for="Description" />
        </div>

        <div class="form-group">
            <div><label class="col-md-2 control-label" asp-for="Date">@Localizer["Date"]</label></div>
            <div class="col-md-10">
                <input type="date" asp-for="Date" />
            </div>
            <span asp-validation-for="Date" />
        </div>

        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="@Localizer["Save"]" />
                <input type="button" class="btn btn-default" onclick="history.back();" value=@Localizer["Cancel"] />
            </div>
        </div>
    </form>
</body>
</html>