﻿@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@model TicketReselling.Presentation.Models.EventModel
@{
    Layout = "_Layout";
    ViewData["Title"] = Localizer["Events"];
}

<html>
<body>
    <h3>@Localizer["Deleting event"]</h3><br />

    <form class="form-horizontal" role="form" asp-anti-forgery="true" asp-action="DeleteConfirmation" asp-controller="Event" asp-route-id=@Model.Id>
        <div>
            <p>@Localizer["Are you really want perform delete operation?"]</p>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="@Localizer["Delete"]" />
                <input type="button" class="btn btn-default" onclick="history.back();" value=@Localizer["Cancel"] />
            </div>
        </div>
    </form>
</body>
</html>
