﻿@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Upload image";
}
<h3>@Localizer["Upload file"]</h3>
<form asp-action="ImgUpload" asp-controller="Event" method="post" enctype="multipart/form-data">
    <input type="hidden" name="eventId" value="@ViewBag.EventId" /><br>
    <input type="file" name="file" /><br>
    <input class="btn btn-primary" type="submit" value="@Localizer["Upload"]" />
    <input type="button" class="btn btn-default" onclick="history.back();" value=@Localizer["Cancel"] />
</form>