﻿@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@model IEnumerable<TicketReselling.Presentation.Models.EventModel>
@{
    Layout = "_Layout";
    ViewData["Title"] = Localizer["Events"];
}

<html>
<body>
    <h3>@Localizer["Events"]</h3><br />

    @foreach (var i in Model)
    {
        <div class="event">
            <p><img src=@i.Banner width="150" height="150" alt=@i.Name.ToString()></p>
            <p>@i.Name.ToString()</p>
            <p>@i.Date.ToString("dd.MM")</p>
            <p>@i.Venue.City.Name, @i.Venue.Name</p>
            <p>@i.Description</p>
        </div>
        <div>
            <p>
                <a class="btn btn-default btn-xs" asp-controller="Event" asp-action="Update" asp-route-id=@i.Id>@Localizer["Change"]</a>
                <a class="btn btn-default btn-xs compItem" asp-controller="Event\" asp-action="Delete" asp-route-id=@i.Id>@Localizer["Delete"]</a>
            </p>
        </div>
    }

    <div><button class="btn btn-info btn-lg" onclick="location.href='@Url.Action("Create", "Event")'">@Localizer["Add Event"]</button></div>

</body>
</html>