﻿@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@model IEnumerable<TicketReselling.Presentation.Models.EventDemostrationModel>
@{
    Layout = "_Layout";
    ViewData["Title"] = Localizer["Future events"];
}

<html>
<body>
    <h3>@Localizer["Future events"]</h3><br />

    <table class="table-condensed table-hover">
        <tbody>
            <tr>
                <th></th>
                <th>@Localizer["Event"]</th>
                <th>@Localizer["Date"]</th>
                <th>@Localizer["City"]</th>
                <th>@Localizer["Venue"]</th>
                <th>@Localizer["Description"]</th>
                <th></th>
            </tr>
            @foreach (var i in Model)
            {
                <tr>
                    <td height="150" valign="middle"><img src=@i.Banner class="img-rounded" width="100" height="100" alt=@i.Name.ToString()></td>
                    <td>@i.Name</td>
                    <td>@i.Date.ToString("dd.MM")</td>
                    <td>@i.CityName</td>
                    <td>@i.VenueName</td>
                    <td>@i.Description</td>
                    <td><a class="btn btn-default btn-xs" asp-controller="Ticket" asp-action="ShowTickets" asp-route-id=@i.Id>@Localizer["Show Tickets"]</a></td>
                </tr>
            }
        </tbody>
    </table>



</body>
</html>
