﻿@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using TicketReselling.Business.Interfaces
@using TicketReselling.Presentation.Models

@inject IViewLocalizer Localizer
@model TicketReselling.Presentation.Models.UserModel
@{
    Layout = "_Layout";
    ViewData["Title"] = Localizer["User"];
}

<html>
<body>
    <h3>@Localizer["Add some info about yourself"]</h3><br />

    <form class="form-horizontal" role="form" asp-anti-forgery="true" method="post" asp-action="UpdateUserInfo" asp-controller="Home">
        <div class="validation" asp-validation-summary="ModelOnly" />
        
        <div class="form-group">
            <div class="col-md-10">
                <input type="hidden" asp-for="Login" value="@Model.Login" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="hidden" asp-for="Password" value="@Model.Password" />
            </div>
        </div>

        <div class="form-group">
            <div><label class="col-md-2 control-label" asp-for="FirstName">@Localizer["First Name"]</label></div>
            <div class="col-md-10">
                <input type="text" asp-for="FirstName" value="@Model.FirstName" />
            </div>
            <span asp-validation-for="FirstName" />
        </div>

       <div class="form-group">
            <div><label class="col-md-2 control-label" asp-for="LastName">@Localizer["Last Name"]</label></div>
            <div class="col-md-10">
                <input type="text" asp-for="LastName" value="@Model.LastName" />
            </div>
            <span asp-validation-for="LastName" />
        </div>

        <div class="form-group">
            <div><label class="col-md-2 control-label" asp-for="PhoneNumber">@Localizer["Phone"]</label></div>
            <div class="col-md-10">
                <input type="text" asp-for="PhoneNumber" value="@Model.PhoneNumber" />
            </div>
            <span asp-validation-for="PhoneNumber" />
        </div>

        <div class="form-group">
            <div><label class="col-md-2 control-label" asp-for="Address">@Localizer["Address"]</label></div>
            <div class="col-md-10">
                <input type="text" asp-for="Address" value="@Model.Address" />
            </div>
            <span asp-validation-for="Address" />
        </div>

        <div class="form-group">
            <div><label class="col-md-2 control-label" asp-for="Localization">@Localizer["Localization:"]</label></div>
            <div class="col-md-10">
                <select id="localization" name="Localization">
                    <option value="en"> en </option>
                    <option value="ru"> ru </option>
                    <option value="be"> be </option>
                </select>
            </div>
            <span asp-validation-for="Localization" />
            <input type="hidden" asp-for="Localization" value="$(" #localization").val();" />
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="@Localizer["Save"]" />
                <a class="btn btn-default" asp-controller="Home" asp-action="Index">@Localizer["Cancel"]</a>
            </div>
        </div>
    </form>
</body>
</html>