﻿@model TicketReselling.Presentation.Models.UserModel
@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Mvc.Localization

<h2>@Localizer["My info"]</h2><br />

<div>
    <form method="post">
        <div><b>@Localizer["First Name"]:</b> @Model.FirstName</div><br />
        <div><b>@Localizer["Last Name"]:</b> @Model.LastName</div><br />
        <div><b>@Localizer["Address"]:</b> @Model.Address</div><br />
        <div><b>@Localizer["Phone Number"]:</b> @Model.PhoneNumber</div><br />
        <div><b>@Localizer["Login"]:</b> @Model.Login</div><br />
        <div><b>@Localizer["Localization"]:</b> @Model.Localization</div><br />
    </form>
    <div>
        <p>
            <a class="btn btn-default btn-xs" asp-controller="Home" asp-action="UpdateUserInfo" asp-route-id=@Model.Id>@Localizer["Change"]</a>
        </p>
    </div>

</div>
