﻿@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <script type="text/javascript">
        $(document).ready(function() {
            $('dropdown-toggle').dropdown()
        });
    </script>
</head>
<body>
    <div class="collapse navbar-collapse" id="navbar-ex-collapse">
        @if (User.IsInRole("Admin"))
        {
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        @Localizer["Management"] <span class="caret"></span>
                    </a>
                    <ul class='dropdown-menu'>
                        <li><a asp-action="Index" asp-controller="CityManager">@Localizer["Cities"]</a></li>
                        <li><a asp-action="Index" asp-controller="VenueManager">@Localizer["Venues"]</a></li>
                        <li><a asp-action="Index" asp-controller="EventManager">@Localizer["Events"]</a></li>
                        <li><a asp-action="Index" asp-controller="UserManager">@Localizer["Users"]</a></li>
                    </ul>
                </li>
            </ul>
        }
    </div>
</body>
</html>
