﻿@using Microsoft.AspNetCore.Identity
@using TicketReselling.Presentation.Models
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Mvc.Localization
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html>
<head>
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        <form asp-area="" asp-controller="Account" asp-action="LogOut" method="post" id="logoutForm" class="navbar-right">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="UserInfo" title="Manage">@Localizer["Hello"], @User.Identity.Name!</a>
                </li>
                <li><a href="~/UserTicketManager/ShowUserTickets" class="navbar-brand">@Localizer["My Tickets"]</a></li>
                <li><a href="~/UserOrderManager/ShowUserOrders" class="navbar-brand">@Localizer["My Orders"]</a></li>                
                

                <li>
                    <button type="submit" class="btn btn-link navbar-btn navbar-link">@Localizer["Log off"]</button>
                </li>
            </ul>
        </form>
    }
    else
    {
        <nav>
            <ul class="nav navbar-nav navbar-right">
                <li><a asp-area="" asp-controller="Account" asp-action="Register">@Localizer["Register"]</a></li>
                <li><a asp-area="" asp-controller="Account" asp-action="Login">@Localizer["Log in"]</a></li>
            </ul>
        </nav>
    }
</body>
</html>

    

    
