﻿@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using TicketReselling.Business.Interfaces
@using TicketReselling.Presentation.Models

@inject IViewLocalizer Localizer
@inject ICityService cityService
@model TicketReselling.Presentation.Models.VenueModel
@{
    Layout = "_Layout";
    ViewData["Title"] = Localizer["Venues"];
}
@{
    var cities = cityService.GetAllCities();
}

<html>
<body>
    <h3>@Localizer["New venue"]</h3><br />

    <form class="form-horizontal" role="form" asp-anti-forgery="true" method="post" asp-action="Create" asp-controller="Venue">
        <div class="validation" asp-validation-summary="ModelOnly" />
        <div class="form-group">
            <div><label class="col-md-2 control-label" asp-for="City">@Localizer["City:"]</label></div>
            <div class="col-md-10">
                <select  id="city" name="CityId">
                    @foreach (var i in cities)
                    {
                        <option value="@i.Id">@i.Name</option>
                    }
                </select>
            </div>
            <span asp-validation-for="CityId" />
            <input type="hidden" asp-for="CityId" value="$(" #city").val();" />
        </div>

        <div class="form-group">
            <div><label class="col-md-2 control-label" asp-for="Name">@Localizer["Venue name"]</label></div>
                <div class="col-md-10">
                    <input type="text" asp-for="Name" />
                </div>
                <span asp-validation-for="Name" />
            </div>
        <div class="form-group">
            <div><label class="col-md-2 control-label" asp-for="Address">@Localizer["Address"]</label></div>
            <div class="col-md-10">
                <input type="text" asp-for="Address" />
            </div>
            <span asp-validation-for="Address" />
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="@Localizer["Save"]" />
                <input type="button" class="btn btn-default" onclick="history.back();" value=@Localizer["Cancel"] />
            </div>
        </div>
    </form>
</body>
</html>
