﻿@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@model IEnumerable<TicketReselling.Presentation.Models.VenueModel>
@{
    Layout = "_Layout";
    ViewData["Title"] = Localizer["Venues"];
}

<html>
<body>
    <h3>@Localizer["Venues"]</h3><br />

    @foreach (var i in Model)
    {
        <div class="venue">
            <form method="post">
                <div><b>@Localizer["Venue name"]:</b> @i.Name.ToString()</div><br />
                <div><b>@Localizer["Address"]:</b> @i.Address.ToString()</div><br />
                <div><b>@Localizer["City"]:</b> @i.City.Name.ToString()</div><br />
            </form>
            <div>
                <p>
                    <a class="btn btn-default btn-xs" asp-controller="Venue" asp-action="Update" asp-route-id=@i.Id>@Localizer["Change"]</a>
                    <a class="btn btn-default btn-xs compItem" asp-controller="Venue" asp-action="Delete" asp-route-id=@i.Id>@Localizer["Delete"]</a>
                </p>                      
            </div>
            
        </div>
        <br /><br />
    }
    <div><button class="btn btn-info btn-lg" onclick="location.href='@Url.Action("Create", "Venue")'">@Localizer["Add Venue"]</button></div>

</body>
</html>