﻿@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@model TicketReselling.Presentation.Models.TicketModel
@{
    Layout = "_Layout";
    ViewData["Title"] = Localizer["Order tickets"];
}

<html>
<body>
    <h3>@Localizer["Order confirmation"]</h3><br />

    <div>
        <div class="row">
            <div class="col-md-3">
                <img alt=@Model.Event.Name src=@Model.Event.Banner class="img-rounded" width="200" height="200" />
            </div>
            <div class="col-md-9">
                <h4>@Model.Event.Name</h4>
                <div><b>@Localizer["Date"]:</b> @Model.Event.Date.ToString("dd.MM")</div>
                <div><b>@Localizer["Venue"]:</b> @Model.Event.Venue.Name</div>
                <div><b>@Localizer["City"]:</b> @Model.Event.Venue.City.Name</div>
            </div>
            <p><a class="btn btn-default" asp-controller="UserOrder" asp-action="OrderConfirmation" asp-route-id=@Model.Id>@Localizer["Confirm"]</a></p>
            <p><a class="btn btn-default" asp-controller="Home" asp-action="Index">@Localizer["Cancel"]</a></p>
        </div>
    </div>
</body>
</html>
