﻿@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer

@model IEnumerable<TicketReselling.Presentation.Models.OrderModel>
@{
    Layout = "_Layout";
    ViewData["Title"] = @Localizer["My Orders"];
}

<!doctype html>
<html>
<body>
    <h3>@Localizer["My Orders"]</h3><br />

    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped table-bordered table-hover">
                <tbody>
                    <tr>
                        <th>@Localizer["Seller"]</th>
                        <th>@Localizer["Price"]</th>
                        <th>@Localizer["Event"]</th>
                        <th>@Localizer["Track Number"]</th>
                        <th>@Localizer["Comment"]</th>
                        <th>@Localizer["Status"]</th>
                    </tr>
                    @foreach (var o in Model)
                    {
                        <tr>
                            <td>@o.Ticket.Seller.Login</td>
                            <td>@o.Ticket.Price</td>
                            <td>@o.Ticket.Event.Name</td>
                            <td>@o.TrackNumber</td>
                            <td>@Localizer[o.Comment]</td>
                            <td>@Localizer[o.Status]</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
