﻿@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using TicketReselling.Business.Interfaces
@using TicketReselling.Presentation.Models

@inject IViewLocalizer Localizer
@inject IEventService eventService;
@model TicketReselling.Presentation.Models.TicketModel
@{
    Layout = "_Layout";
    ViewData["Title"] = Localizer["New ticket"];
}
@{
    var events = eventService.GetAllEvents();
}
<html>
<body>
    <h3>@Localizer["Create ticket "]</h3><br />

    <form class="form-horizontal" role="form" asp-anti-forgery="true" method="post" asp-action="Create" asp-controller="UserTicket">
        <div class="validation" asp-validation-summary="ModelOnly" />
        <div class="form-group">
            <div><label class="col-md-2 control-label" asp-for="Event">@Localizer["Event:"]</label></div>
            <div class="col-md-10">
                <select id="event" name="EventId">
                    @foreach (var i in events)
                    {
                        <option value="@i.Id">@i.Name</option>
                    }
                </select>
            </div>
            <span asp-validation-for="EventId" />
            <input type="hidden" asp-for="EventId" value="$(" #event").val();" />
        </div>

        <div class="form-group">
            <div><label class="col-md-2 control-label" asp-for="Number">@Localizer["Number"]</label></div>
            <div class="col-md-10">
                <input type="text" asp-for="Number" />
            </div>
            <span asp-validation-for="Number" />
        </div>

        <div class="form-group">
            <div><label class="col-md-2 control-label" asp-for="Price">@Localizer["Price"]</label></div>
            <div class="col-md-10">
                <input type="text" asp-for="Price" />
            </div>
            <span asp-validation-for="Price" />
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="@Localizer["Save"]" />
                <a class="btn btn-default" asp-controller="UserTicket" asp-action="ShowUserTickets">@Localizer["Cancel"]</a>
            </div>
        </div>
    </form>

</body>
</html>
