﻿@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@model TicketReselling.Presentation.Models.TicketModel
@{
    Layout = "_Layout";
}

<!doctype html>
<html>
<head>
    <title>@Localizer["TicketMarket"]</title>
</head>
<body>
    <h3>@Model.Event.Name</h3><br />

    <form class="form-horizontal">
        <div>
            <div><b>@Localizer["Date"]:</b> @Model.Event.Date.ToString("dd.MM")</div>
            <div><b>@Localizer["Price"]:</b> @Model.Price</div>
            <div><b>@Localizer["Number"]:</b> @Model.Number</div>
            <div><b>@Localizer["Status"]:</b> @Model.Status</div><br />
            @if (@Model.Status == "Waiting Confirmation")
            {
                <a class="btn btn-default" asp-controller="UserTicket" asp-action="Confirm" asp-route-id=@Model.Id>@Localizer["Confirm"]</a>
                <a class="btn btn-default" asp-controller="UserTicket" asp-action="Reject" asp-route-id=@Model.Id>@Localizer["Reject"]</a><br/>
            }
            <p><a class="btn btn-default" asp-controller="UserTicket" asp-action="ShowUserTickets">@Localizer["Back"]</a></p>
        </div>
    </form>
    
</body>
</html>
