﻿@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@model TicketReselling.Presentation.Models.TicketSellViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = Localizer["Reject order"];
}
<html>
<body>
    <h3>@Localizer["Reject order"]</h3><br />

    <form class="form-horizontal" role="form" asp-anti-forgery="true" method="post" asp-action="Reject" asp-controller="UserTicket">
        <div class="validation" asp-validation-summary="ModelOnly" />
        <div class="form-group">
            <input type="hidden" asp-for="TicketId" value="@Model.TicketId" />
        </div>
        
        <div class="form-group">
            <div><label class="col-md-2 control-label" asp-for="SellerNotes">@Localizer["Write a comment"]</label></div>
            <div class="col-md-10">
                <input type="text" asp-for="SellerNotes" />
            </div>
            <span asp-validation-for="SellerNotes" />
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="@Localizer["Reject"]" />
                <a class="btn btn-default" asp-controller="UserTicket" asp-action="ShowUserTickets">@Localizer["Cancel"]</a>
            </div>
        </div>
    </form>

</body>
</html>
