﻿@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer

@model IEnumerable<TicketReselling.Presentation.Models.TicketModel>
@{
    Layout = "_Layout";
    ViewData["Title"] = @Localizer["My Tickets"];
}

<!doctype html>
<html>
<body>
    <h3>@Localizer["My Tickets"]</h3><br />

    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped table-bordered table-hover">
                <tbody>
                    <tr>
                        <th>@Localizer["Event"]</th>
                        <th>@Localizer["Date"]</th>
                        <th>@Localizer["Venue"]</th>
                        <th>@Localizer["City"]</th>
                        <th>@Localizer["Price"]</th>
                        <th>@Localizer["Number"]</th>
                        <th>@Localizer["Status"]</th>
                        <th>@Localizer["SellerNotes"]</th>
                    </tr>
                    @foreach (var o in Model)
                    {
                        <tr>
                            <td><a asp-controller="UserTicketManager" asp-action="Detail" asp-route-id=@o.Id>@o.Event.Name</a></td>
                            <td>@o.Event.Date</td>
                            <td>@o.Event.Venue.Name</td>
                            <td>@o.Event.Venue.City.Name</td>
                            <td>@o.Price</td>
                            <td>@o.Number</td>
                            <td>@o.Status</td>
                            <td>@o.SellerNotes</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div> <br /><br />
    <div class="col-md-6">
        <p><a class="btn btn-info btn-lg" asp-controller="UserTicket" asp-action="Create">@Localizer["Add ticket"]</a></p>
    </div> 

</body>
</html>
