﻿@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@model IEnumerable<TicketReselling.Presentation.Models.CityModel>
@{
    Layout = "_Layout";
    ViewData["Title"] = Localizer["Cities"];
}

<html>
<body>
    <h3>@Localizer["Cities"]</h3><br />

    @foreach (var i in Model)
    {
        <div class="city">
            <p>@i.Name.ToString()</p>
            <div>
                <p>
                    <a class="btn btn-default btn-xs" asp-controller="City" asp-action="Update" asp-route-id=@i.Id>@Localizer["Change"]</a>
                    <a class="btn btn-default btn-xs compItem" asp-controller="City" asp-action="Delete" asp-route-id=@i.Id>@Localizer["Delete"]</a>
                </p>
            </div>
            
        </div>
        <br /><br />
    }
    <div><button class="btn btn-info btn-lg" onclick="location.href='@Url.Action("Create", "City")'">@Localizer["Add City"]</button></div>

</body>
</html>