﻿@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@model TicketReselling.Presentation.Models.CityModel
@{
    Layout = "_Layout";
    ViewData["Title"] = Localizer["Cities"];
}

<html>
<body>
    <h3>@Localizer["Change city name"]</h3><br />

    <form class="form-horizontal" role="form" asp-anti-forgery="true" method="post" asp-action="Update" asp-controller="City">
        <div class="validation" asp-validation-summary="ModelOnly" />
        <div class="form-group">
            <div><label class="col-md-2 control-label" asp-for="Name">@Localizer["City name"]</label></div>
            <div class="col-md-10">
                <input type="text" asp-for="Name" value="@Model.Name" />
            </div>
            <span asp-validation-for="Name" />
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="@Localizer["Save"]" />
                <input type="button" class="btn btn-default" onclick="history.back();" value=@Localizer["Back"] />
            </div>
        </div>
    </form>
</body>
</html>