﻿@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using TicketReselling.Business.Interfaces

@inject IViewLocalizer Localizer
@inject IUserService userService
@model IEnumerable<TicketReselling.Presentation.Models.UserModel>
@{
    Layout = "_Layout";
    ViewData["Title"] = Localizer["Users"];
}

<html>
<body>
    <h3>@Localizer["Users"]</h3><br />

    @foreach (var i in Model)
    {
        <div class="user">
            <form method="post">
                <div><b>@Localizer["Login"]:</b> @i.Login</div><br />
                <div><b>@Localizer["Role"]:</b> @userService.GetRoleNameByLogin(i.Login)</div><br />
                <div><b>@Localizer["Name"]:</b> @i.FirstName @i.LastName</div><br />
            </form>
            <div>
                <p>
                    <a class="btn btn-default btn-xs" asp-controller="User" asp-action="ChangeRights" asp-route-id=@i.Id>@Localizer["Change rights"]</a>
                    <a class="btn btn-default btn-xs compItem" asp-controller="User" asp-action="Delete" asp-route-id=@i.Id>@Localizer["Delete"]</a>
                </p>
            </div>
            
        </div>
        <br /><br />
    }

</body>
</html>