﻿@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@model IEnumerable<TicketReselling.Presentation.Models.TicketModel>
@{
    Layout = "_Layout";
}

<!doctype html>
<html>
<head>
    <title>@Localizer["TicketMarket"]</title>
</head>
<body>
    <h3>@Localizer["Available Tickets"]</h3><br />

    @foreach (var i in Model)
    {
        <form>
            <div class="ticket">
                <div><b>@Localizer["Seller"]:</b> @i.Seller.FirstName @i.Seller.LastName (@i.Seller.Login)</div>
                <div><b>@Localizer["Price"]:</b> @i.Price</div>
                <div><b>@Localizer["Number"]:</b> @i.Number</div>
                @*<div><b>@Localizer["SellerNotes"]:</b> @i.SellerNotes</div>*@
                <p><a class="btn btn-default" asp-controller="UserOrder" asp-action="Order" asp-route-id=@i.Id>@Localizer["Order tickets"]</a></p>
            </div>
        </form>
        <br /><br />
    }
    <input type="button" class="btn btn-default" onclick="history.back();" value=@Localizer["Back"] />
</body>
</html>
